:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: "inter",sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);

}

.principal{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-direction: row;
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;



}

.conteiner{
    height: 100vh;


}

.div1 {
   margin: 0 8rem;

}
.primeiro__titulo {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-principal);
    font-weight: 700;

}
.comboplus {
    padding:35px 0;
}

.botao__assine {
    display: block;
    gap: 16px;
    text-decoration: none;
    color: var(--cinza-secundario);
    background-color:  var(--botao-azul);
    padding: 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: "inter", sans-serif ;
    font-weight: var(--font-principal);
    margin: 2% 10% 2% 10%;

}

.aluramais:hover {
    background-color: var(--cinza-secundario);
}

.aluramais {
    display: block;
    text-decoration: none;
    color:var(--branco-principal);
    padding: 15px;
    border: 2px solid var(--branco-principal);
    border-radius: 8px;
    font-size: 1rem;
    font-family: "inter", sans-serif ;
    font-weight: var(--font-principal);
    margin: 2% 10% 2% 10%;

}

.info {
    font-size: 1rem;
    font-family: "inter", sans-serif;
    font-weight: var(--font-principal);
}




.telas {
    padding: 5% 7% 5% 7%;
    width: 1000px;
}
.secao2 {
    display: flex;
    align-items: center;
    padding-bottom: 7%;

}

.div2 {
    flex-direction: column;
    padding: 10% ;
}

.subtitulo1 {
    font-size: 3rem;
    font-family: var(--font-principal);
    font-weight: 700;
    padding: 1% ;
}
.subtitulo2 {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-principal);
    font-weight: 700;
}
.subtitulo3 {
    margin-top: 7%;
    font-size: 2rem;
    font-family: var(--font-principal);
    font-weight: 700;

}
.paragrafo1 {
    font-size: 1rem;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}
.paragrafo2 {
    padding: 0% 0% 8% 0%;
    font-size: 1rem;
    font-family: 'inter', sans-serif;
    font-weight: 400;
}


.botao__combomais {
    text-decoration: none;
    color:var(--branco-principal);
    background-color: var(--botao-azul);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-principal);
    font-weight: 400;

}

.secao3 {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.div3 {
    display: flex;
    justify-content: center;
    margin: 5%;
}
.div4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 150px 0px 150px ;

}
.div5 {
    display: flex;
    gap: 16px;

}
.paragrafo3 {
    font-size: 1rem;
    font-family: var(--font-principal);
    font-weight: 400;
}
.item2 {
    padding: 30px 0 40.71px 0;
}


.div6{
    margin: 24px 120px 24px 120px;
    text-align: center;
}
.paragrafo5 {
    font-size: 0.875rem;
    font-weight:400;
    font-family: var(--font-principal);
}



@media (max-width:415px) {
    .conteiner {
        height: auto;
    }
    .principal{        
        display: flex;
        flex-direction: column;
    }

    .div1 {
        margin:48% 5% 0% 5%;
    }
    .comboplus {
        width: 180px;
    }
    .botao__assine {
        padding: 10px;
        border-radius: 6px;
        font-size: 1rem;
        margin: 0% 15% 4% 15%;  
    }
    .aluramais {
        padding: 10px;
        font-size: 1rem;
        margin: 0% 15% 4% 15%;   
    }
    .telas {
        width: 160px;
    }
    .primeiro__titulo {
        font-size: 1.5rem;
        padding: 0 9% 0 9%;

    }
    .info {
        font-size: 0.6rem;
    }

    .secao2 {
        flex-direction: column;
        margin: 10% 0 0% 0;
        padding: 0;
    }
    .subtitulo1 {
        font-size: 1.5rem;  
        padding-bottom: 5%;      
    }
    .subtitulo2 {
        font-size: 1rem;
        padding-bottom: 5%;
    }
    .subtitulo3 {
        font-size: 0.8rem;
    }
    .paragrafo1 {
        font-size: 0.9rem;
        text-align: justify;
        
    }
    .paragrafo2 {
        font-size: 0.9rem;
        text-align: justify;
    }
    .paragrafo3 {
        font-size: 0.4rem; 
    }
    .botao__combomais {
        padding: 10px;
        font-size: 0.8rem;
    }
    .div2 {
        padding: 10%;
        justify-content: center;
        text-align: center;
    }
    .secao3 {
        padding-top: 10px;
    }
    .div3 {
        margin: 5%;
    }
    .item1 {
        width: 120px;
    }



    .secao4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0;
       
    }
    .item2 {
        padding: 20px 0 40px 0;
    }
    
    .div5 {
        display: flex;
        margin: 0 16px 6px 16px;
        gap: 15px;
        text-align: center;

    }
    .div6{
        margin: 6px 20px 6px 20px;
    }
    .paragrafo5 {
        font-size: 0.3rem;
    }
    
    
}



