@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900; 1.400.900&família=Roboto:ital,wght@0.100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900&display=swap');

*{
    margin: 0;
    padding: 0;
}


:root {
    --fonte-principal: "Playfair Display", serif;
    --fonte-secundaria: "Roboto", sans-serif; 

    --cor-de-fundo-texto: rgba(2, 2, 2, 0.671);
    --cor-do-footer: rgba(79, 79, 79, 0.744);
    
    --tam-font: 2rem;
}
body{
    background-color: #1A4870;
    color: rgb(228, 244, 246);
    font-size: 1.5rem;
    background-image: url("assets/flamimg.jpeg");
    background-repeat:repeat;
    background-size:cover;

    
    
}


h2 {
    margin: 5% 10% 5% 10%;
    padding: 2%;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo-texto);
}

.par1 {
    text-align: center;
    background-color: var(--cor-de-fundo-texto);
    margin: 5% 10% 5% 10%;
    font-size: var(--tam-font);
    padding: 1%;
    
}
.par2 {
    margin: 5% 10% 5% 10%;
    padding:3%;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo-texto);
    font-size: var(--tam-font);
    
}

.par3 {
    padding: 2%;
    font-size: var(--tam-font);
      
    
}

.salario {
    margin: 5% 10% 5% 10%;
    font-family: var(--fonte-principal);
    padding: 2%; 
    background-color: var(--cor-de-fundo-texto);
    font-size: var(--tam-font);
}
    

.botao {
    font-size: 1.3rem;
    text-align: center;
    
}



div#res1 {
    font-size: var(--tam-font);
    font-family: var(--fonte-principal);
    padding-left: 2%;
    background-color: var(--cor-de-fundo-texto);
    margin: 0% 10% 0% 10%;
}

div#res2 {
    font-size: var(--tam-font);
    font-family: var(--fonte-principal);
    padding-left: 2%;
    background-color: var(--cor-de-fundo-texto);
    margin: 0% 10% 0% 10%;
}

div#res3 {
    font-size: var(--tam-font);
    font-family: var(--fonte-principal);
    padding-left: 2%;
    background-color: var(--cor-de-fundo-texto);
    margin: 0% 10% 0% 10%;
}

footer {
    background-color: var(--cor-do-footer);
    text-align: center;

    
}